
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/img
/var/
/vendor/
/docker/.env
/docker/mysql_data
/node_modules
/mjml-service/node_modules
/openai-service/node_modules
###< symfony/framework-bundle ###
