.template_overview {
    display: grid;
    grid-template-rows: 95rem 55rem;
    grid-template-columns: 35rem repeat(2, 1fr);
    row-gap: 5rem;
    column-gap: 2rem;
}

.template_overview-container {
    border: 1px solid var(--color-primary);
    border-radius: 2.5rem;
    overflow-y: scroll;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.3);
    height: 100%;
    min-width: 0;
    position: relative;
}

.template_overview-title {
    background-color: var(--color-primary);
    color: #fff;
    padding: 2rem;
}

.templates-search {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.template-search-btn {
    padding: 0.5rem 0.7rem;
    font-size: 1.5rem;
}

.body-templates-container,
.email-templates-container {
    border-top: 1px solid #878c94;
}

.templates-content {
    display: flex;
    flex-direction: column;
    max-height: 95rem;
}

.template {
    padding: 2rem;
    border-bottom: 1px solid #878c94;
    cursor: pointer;
    position: relative;
}

.template:hover {
    background-color: #e8eaef;
}

.template--active {
    background-color: var(--color-primary);
    color: #fff;
}

.template--active:hover {
    background-color: var(--color-primary-hover);
}

.template--active > p {
    color: #fff;
}

.template-title {
    font-size: 2.4rem;
}

.template-format {
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    border-radius: 10rem;
    font-weight: bold;
    width: min-content;
}

.template-format--twig {
    background-color: #b2f578;
    color: #000;
}

.template-format--mjml {
    background-color: #e04f73;
    color: #fff;
}

.template-delete-icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    transition: 0.3s;
    padding: 0.5rem;
    border-radius: 50%;
}

.template-delete-icon:hover {
    color: #c83535;
    background-color: #dbe0e3;
}

.add-template-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    text-decoration: none;
    color: #fff;
    font-size: 5rem;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.3);
    transition: 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.add-template-btn:hover {
    background-color: var(--color-primary-hover);
}

.template-content-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 0;
}

.template-content-editor {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#editor .cm-editor {
    height: 100%;
}

#editor .cm-scroller {
    height: 100%;
    overflow-y: auto;
}

.buttons-container {
    position: absolute;
    bottom: 4rem;
    right: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem
}

.buttons-container button {
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.3);
    transition: 0.3s;

    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.template-variables {
    height: 30rem;
}

.template-variables--hidden {
    display: none;
}

.variables-container {
    padding: 2rem;
    overflow-y: scroll;
}

.variable {
    margin-bottom: 1.5rem;
}

.variable,
.variable-input {
    font-size: 2rem;
}

.variable-input {
    border: none;
    border-bottom: 1px solid var(--color-primary);
    margin-left: 1rem;
}

.variable-input:focus {
    outline: none;
}

.add-variables-container {
    padding: 2rem;
}

.add-variable-input {
    margin-left: 0;
    margin-right: 1rem;
}

.template-view-container {
    background-color: transparent;
    padding: 2rem;
    overflow: scroll;
}

.error-msg-container {
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-error-secondary);
    color: var(--color-error-primary);
    padding: 2rem;
    border-radius: 1.5rem;
    font-size: 2rem;
}

.changelog {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}

.changelog-header {
    height: 5rem;
    padding: 3rem 0;
    border-bottom: 1px solid #878c94;

    display: flex;
    align-items: center;
}

.changelog-data-entries {
    overflow-y: scroll;
}

.changelog-entry {
    display: flex;
    align-items: center;
}

.changelog-header-text {
    font-size: 2rem;
}

.changelog-data {
    padding: 1.5rem 0;
}

.changelog-data:nth-child(odd) {
    background-color: #e8eaef;
}

.changelog-entry-cell {
    width: 20%;
    text-align: center;
}

.changelog-entry-cell--clickable {
    color: var(--color-primary);
    text-decoration: underline;
    cursor: pointer;
}

.diff {
    background-color: #e8eaef;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.3);
}

.diff-property {
    margin: 1rem 0;
}

.diff-property-name {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.diff-content-label {
    font-size: 1.8rem;
    margin: 1rem 0;
}

.diff-new {
    padding: 0 0.5rem;
    color: var(--color-success-primary);
    background-color: var(--color-success-secondary);
    display: inline-block;
    margin: 0.1rem 0;
    border-radius: 0.3rem;
}

.diff-original {
    padding: 0 0.5rem;
    color: var(--color-error-primary);
    background-color: var(--color-error-secondary);
    display: inline-block;
    margin: 0.1rem 0;
    border-radius: 0.3rem;
}

.diff-content-diff-text {
    white-space: pre-line;
}
