.login-container {
    height: 90vh;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.login {
    width: 30%;
    height: min-content;
}

.login-input-data {
    padding: 2rem;
}

.login-input-container {
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.send-input--login {
    color: #000;
    border-bottom: 1px solid var(--color-primary);
    width: 100%;
}

/**** confirm login page styles ****/

.login-from-link-form {
    width: 40%;
    height: 20rem;
    margin: 4rem auto;
    background-color: var(--color-primary);
    border-radius: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
