.login-container {
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.login {
    width: 30%;
    height: max-content;
}

.login-form-container {
    padding: 2rem;
}

.login-form {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.login-input-data {
    padding: 2rem;
}

.login-input-container {
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.send-input--login {
    color: #000;
    border-bottom: 1px solid var(--color-primary);
}

.setup-passkey-btn {
    background-color: transparent;
    border: none;
    color: var(--color-primary);
    text-decoration: underline;
    font-size: 1.7rem;
    cursor: pointer;
}

.setup-passkey-btn:focus {
    outline: none;
}
