.logs-container {
    border-radius: 1.2rem;
    overflow: scroll;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.3);
    height: 70rem;
    background-color: #fff;
}

.logs {
    border-collapse: collapse;
    table-layout: fixed;
}

.logs tr:nth-child(odd) {
    background-color: #e8eaef;
}

.logs td,
.logs th {
    padding: 0.7rem;
    width: 8.33%;
}

.logs th {
    background-color: var(--color-primary);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
}

.logs td {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    text-align: center;
}

.status {
    padding: .5rem;
    border-radius: .5rem;
    display: inline-block;
}

.status--sent {
    background-color: var(--color-success-secondary);
    color: var(--color-success-primary);
}

.status--failed {
    background-color: var(--color-error-secondary);
    color: var(--color-error-primary);
}

.status--delivered {
    background-color: var(--color-primary-light);
    color: var(--color-primary-dark);
}

.status--opened {
    background-color: var(--color-opened-secondary);
    color: var(--color-opened-primary);
}

.truncate-cell {
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.no-results-msg {
    text-align: center;
    font-size: 2rem;
}

.column-id {
    width: 2% !important;
}
