.send-container {
    height: 90vh;

    display: grid;
    grid-template-columns: 35rem repeat(2, 1fr);
    gap: 4rem;
}

.send-container > div {
    min-width: 0;
}

.template-column-container {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.body-template-name {
    font-size: 1.8rem;
    margin-top: 0.5rem;
    color: #383b43;
}

.template_overview-container--hidden {
    height: min-content;
}

.template_overview-container--hidden .template-overview-body-container {
    display: none;
}

.templates-visibility-toggle-btn {
    cursor: pointer;
    rotate: 90deg;
    color: #fff;
    position: absolute;
    top: 4rem;
    right: 3rem;
}

.template_overview-container--hidden .templates-visibility-toggle-btn {
    rotate: 0deg;
}

.send-data {
    background-color: var(--color-primary);
    border-radius: 2.5rem;
    height: 100%;
    color: #fff;
    padding: 4rem;
    position: relative;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.3);
}

.send-title {
    font-size: 4.4rem;
}

.send-inputs {
    margin-top: 1.5rem;
}

.send-input-container {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.send-input {
    width: 30rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 0.5rem;
    color: #fff;
    font-size: 1.8rem;
}

.send-input:focus {
    outline: none;
}

.send-input-label {
    font-weight: bold;
}

.address-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.address {
    padding: 0.3rem 0.5rem;
    border-radius: 0.2rem;
    margin-top: 0.3rem;
    margin-right: 0.5rem;

    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.address--primary {
    background-color: #fff;
    color: #383b43;
}

.address--secondary {
    background-color: var(--color-primary);
    color: #fff;
}

.remove-address-btn {
    font-size: 1.3rem;
    cursor: pointer;
}

.editor {
    width: 100%;
    height: 30rem;
    border: 1px solid #fff;
    border-radius: 0.5rem;
}

.variables {
    margin-top: 2rem;
}

.variables-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.variable-input-container {
    margin-top: 0.5rem;
}

.send-add-variables-container {
    margin-top: 2rem;
}

.send-add-variables-inputs {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.send-add-variables-input {
    width: 30rem;
    font-size: 1.8rem;
    border: none;
    background-color: transparent;
}

.send-add-variables-input:focus {
    outline: none;
}

.send-add-variables-input--primary {
    border-bottom: 1px solid var(--color-primary);
}

.send-add-variables-input--secondary {
    border-bottom: 1px solid #fff;
    color: #fff;
}

.send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: none;
}

.email-preview-container {
    background-color: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 2.5rem;
    overflow-y: scroll;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.3);
    height: 100%;
    min-width: 0;
}

.email-preview {
    padding: 2rem;
}

.preview-subject {
    font-size: 4rem;
}

.preview-addresses-container {
    margin-top: 2rem;
    color: #383b43;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.preview-body {
    width: 100%;
    height: 70rem;
    margin-top: 4rem;
}

.send-btn-container {
    margin-top: 4rem;

    display: flex;
    gap: 2rem;
    align-items: center;
}

.success-msg {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.8rem;
    padding: 0.7rem 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-success-secondary);
    color: var(--color-success-primary);
    display: none;
}

.clear-btn {
    font-size: 1.8rem;
    position: absolute;
    top: 4rem;
    right: 4rem;
    background-color: transparent;
    border: none;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.clear-btn:focus {
    outline: none;
}
