@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "modal.css";
@import "search.css";
@import "logs.css";
@import "template_overview.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --color-primary: #2862f7;
    --color-primary-hover: #174bcf;
    --color-success-primary: #2d6708;
    --color-success-secondary: #d9f4d5;
    --color-error-primary: #7a3526;
    --color-error-secondary: #f6cfc1;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    background-color: #f7f7fa;
}

.container {
    padding: 2rem;
}

/**** navbar styles ****/

.nav {
    background-color: var(--color-primary);
}

.nav-list {
    list-style: none;
}

.nav-list-item {
    display: inline-block;
    padding: 2rem 4rem;
}

.nav-list-item:hover {
    background-color: var(--color-primary-hover);
}

.nav-list-link {
    text-decoration: none;
    color: #fff;
}

.btn {
    font-size: 1.7rem;
    padding: 1.2rem 2.4rem;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--color-primary);
    color: #fff;
    transition: 0.3s;
}

.btn--primary:hover {
    background-color: var(--color-primary-hover);
}

.search-btn:hover {
    background-color: var(--color-primary-hover);
}

.btn--secondary {
    background-color: #fff;
    border: 1px solid var(--color-primary);
}

.btn--secondary:hover {
    background-color: #f4efef;
}

/**** pagination styles ****/

.pagination-controls {
    margin-top: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.pagination-btn {
    width: 15rem;
    transition: 0.2s;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.pagination-btn .material-symbols-outlined {
    font-size: 1.2rem;
}

.pagination-btn:hover {
    gap: 1rem;
}
