@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "modal.css";
@import "search.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --color-primary: #2862f7;
    --color-primary-hover: #174bcf;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    background-color: #f7f7fa;
}

.container {
    padding: 2rem;
}

.logs-container {
    border-radius: 1.2rem;
    overflow: hidden;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.3);
}

.nav {
    background-color: var(--color-primary);
}

.nav-list {
    list-style: none;
}

.nav-list-item {
    display: inline-block;
    padding: 2rem 4rem;
}

.nav-list-item:hover {
    background-color: var(--color-primary-hover);
}

.nav-list-link {
    text-decoration: none;
    color: #fff;
}

.logs {
    border: 1px solid var(--color-primary);
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #fff;
}

.logs td,
.logs th {
    border: 1px solid var(--color-primary);
    padding: 0.7rem;
}

.logs th {
    background-color: var(--color-primary);
    color: #fff;
    text-align: left;
}

.logs td {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 8.33%;
    line-height: 1.5;
}

.status {
    padding: .5rem;
    border-radius: .5rem;
    display: inline-block;
}

.status--sent {
    background-color: #d9f4d5;
    color: #216a19;
}

.status--failed {
    background-color: #f6cfc1;
    color: #8a2511;
}

.truncate-cell {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.expanded-cell {
    max-width: none;
}

.no-results-msg {
    text-align: center;
    font-size: 2rem;
}
