@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "buttons.css";
@import "modal.css";
@import "search.css";
@import "table.css";
@import "send_email.css";
@import "logs.css";
@import "body_template_overview.css";
@import "add_body_template.css";
@import "email_template_overview.css";
@import "groups.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --color-primary: #2862f7;
    --color-primary-hover: #174bcf;
    --color-primary-light: #d5e1fd;
    --color-success-primary: #2d6708;
    --color-success-secondary: #d9f4d5;
    --color-error-primary: #7a3526;
    --color-error-secondary: #f6cfc1;
    --color-opened-primary: #af6005;
    --color-opened-secondary: #fde9c5;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    background-color: #f7f7fa;
}

.container {
    padding: 2rem;
}

/**** navbar styles ****/

.nav {
    background-color: var(--color-primary);
}

.nav-list {
    list-style: none;
}

.nav-list-item {
    display: inline-block;
    padding: 2rem 4rem;
}

.nav-list-item:hover {
    background-color: var(--color-primary-hover);
}

.nav-list-link {
    text-decoration: none;
    color: #fff;
}

/**** pagination styles ****/

.pagination-controls {
    margin-top: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.error-message {
    color: var(--color-error-primary);
    background-color: var(--color-error-secondary);
    padding: 0.5rem;
    border-radius: 0.3rem;
    width: max-content;
    display: none;
}
