<div class="templates template_overview-container">
    <h1 class="template_overview-title">Your Email Templates</h1>

    <div class="template-overview-body-container">
        <div class="templates-search">
            <input type="text" name="template-name" id="template-name" class="search-input email-template-search-input" placeholder="Search templates..." />
            <button class="btn btn--primary template-search-btn email-template-search-btn">
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>
        </div>

        <div class="email-templates-container email-templates-container">
        </div>
    </div>
</div>
