<div class="modal-overlay" id="{{ id|default('modalOverlay') }}" onclick="closeModal(event)">
    <div class="modal" onclick="event.stopPropagation()">
        <button class="close-btn" onclick="closeModal()">&times;</button>
        <div class="modal-content">
            <h2 class="modal-title"></h2>
            <div class="modal-text">
            </div>
            {% block input %}{% endblock %}
        </div>
    </div>
</div>
