<div class="modal-overlay" id="modalOverlay" onclick="closeModal(event)">
    <div class="modal" onclick="event.stopPropagation()">
        <button class="close-btn" onclick="closeModal()">&times;</button>
        <div class="modal-content">
            <h2 class="modal-title modal-title--classic"></h2>
            <div class="modal-text modal-text--classic">
            </div>
            <div class="modal-input-container">
                {% block input %}{% endblock %}
            </div>
        </div>
    </div>
</div>
