<div class="template-variables {% if hidden %}template-variables--hidden{% endif%} template_overview-container">
    <h1 class="template_overview-title">Variables</h1>

    <div class="variables-container">
        <!-- dynamically rendered variables -->
    </div>

    <div class="add-variables-container">
        <h3>Add variables</h3>

        <div class="add-variables-inputs">
            <input class="variable-input add-variable-input" id="add-variable-name" placeholder="Name..." />
            <input class="variable-input add-variable-input" id="add-variable-value" placeholder="Value..." />
            <button class="btn btn--primary add-variable-btn">Add</button>
        </div>
    </div>
</div>
