{% extends 'base.html.twig' %}

{% block title %}Logs Overview{% endblock %}

{% block body %}
    <div class="search">
        <h1 class="search-title">Search</h1>

        <div class="search-inputs">
            <div class="search-input-group">
                <div class="search-input-container">
                    <label for="subject">Subject: </label>
                    <input type="text" id="subject" name="subject" class="search-input" />
                </div>

                <div class="search-input-container">
                    <label for="from">From: </label>
                    <input type="text" id="from" name="from" class="search-input" />
                </div>
            </div>

            <div class="search-input-group">
                <div class="search-input-container">
                    <label for="to">To: </label>
                    <input type="text" id="to" name="to" class="search-input" />
                </div>

                <div class="search-input-container">
                    <label for="status">Status: </label>
                    <select id="status" name="status" class="search-input search-input--select">
                        <option value="-">-</option>
                    </select>
                </div>
            </div>

            <div class="search-input-group">
                <div class="search-input-container">
                    <label for="body-template">Body Template: </label>
                    <input type="text" id="body-template" name="body-template" class="search-input" />
                </div>

                <div class="search-input-container">
                    <label for="email-template">Email Template: </label>
                    <input type="text" id="email-template" name="email-template" class="search-input" />
                </div>
            </div>

            <div class="search-input-group">
                <div class="search-input-container">
                    <button class="btn btn--primary search-btn">Search</button>
                </div>

                <div class="search-input-container">
                    <button class="btn btn--secondary reset-btn">Reset</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="logs-container">
            <table class="logs">
                <tr>
                    <th>Id</th>
                    <th>Email Id</th>
                    <th>Subject</th>
                    <th>From</th>
                    <th>To</th>
                    <th>CC</th>
                    <th>BCC</th>
                    <th>Body</th>
                    <th>Status</th>
                    <th>Logged At</th>
                    <th>Error</th>
                    <th>Body Template</th>
                    <th>Email Template</th>
                </tr>
            </table>
        </div>

        <div class="pagination-controls">
            <button class="btn btn--primary pagination-btn" id="btn-prev">
                    <span class="material-symbols-outlined">
                        arrow_back_ios
                    </span>
                <span>Previous</span>
            </button>

            <p id="page-info">Page 1 of 4</p>

            <button class="btn btn--primary pagination-btn" id="btn-next">
                <span>Next</span>
                <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span>
            </button>
        </div>
    </div>

    <script src="{{ asset('/scripts/modal.js') }}"></script>
    <script src="{{ asset('/scripts/logsTable.js') }}"></script>
{% endblock %}
