{% extends 'base.html.twig' %}

{% block title %}Email Body Templates Overview{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/gh/vkiryukhin/vkBeautify/vkbeautify.min.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="template_overview">
            {% embed 'admin/_body_templates.html.twig' with {
                classname: 'templates',
                display_add_btn: true
            } %}{% endembed %}

            <div class="template-content-container">
                <div class="templates-content template_overview-container">
                    <h1 class="template_overview-title">Template Content</h1>

                    <div class="template-content-container template-content-editor" id="editor">
                    </div>

                    <div class="buttons-container">
                        <button class="btn btn--primary test-send-btn">
                            <span>Test send</span>
                            <span class="material-symbols-outlined">
                                send
                            </span>
                        </button>
                        <button class="btn btn--primary save-btn">
                            <span>Save</span>
                            <span class="material-symbols-outlined">
                                save
                            </span>
                        </button>
                    </div>
                </div>

                {% embed 'admin/_variables_container.html.twig' with {
                    hidden: true
                } %}
                {% endembed %}
            </div>

            <div class="templates-view template_overview-container">
                <h1 class="template_overview-title">Template View</h1>

                <div class="template-view-container">
                    <!-- dynamically rendered error message
                        <div class="error-msg-container">
                            <p class="error-msg"></p>
                        </div>
                     -->
                </div>
            </div>

            <div class="changelog template_overview-container">
                <h1 class="template_overview-title">Changelog</h1>

                <div class="table-entries">
                    <div class="table-entry table-header">
                        <h4 class="table-entry-cell table-entry-cell--changelog table-header-text">Template</h4>
                        <h4 class="table-entry-cell table-entry-cell--changelog table-header-text">Content</h4>
                        <h4 class="table-entry-cell table-entry-cell--changelog table-header-text">Parsed Body</h4>
                        <h4 class="table-entry-cell table-entry-cell--changelog table-header-text">Diff</h4>
                        <h4 class="table-entry-cell table-entry-cell--changelog table-header-text">Edited At</h4>
                    </div>

                    <div class="table-data-entries changelog-data-entries">
                        <!--
                        <div class="table-entry table-data" data-log-id="${log.id}">
                            <div class="table-entry-cell table-entry-cell--changelog cell-template-name">
                                <p class="table-entry-text">${activeTemplate.name}</p>
                            </div>
                            <div class="table-entry-cell table-entry-cell--changelog cell-template-content table-entry-cell--clickable">
                                <p class="table-entry-text">View content</p>
                            </div>
                            <div class="table-entry-cell table-entry-cell--changelog cell-template-body table-entry-cell--clickable">
                                <p class="table-entry-text">View parsed body</p>
                            </div>
                            <div class="table-entry-cell table-entry-cell--changelog cell-template-diff table-entry-cell--clickable">
                                <p class="table-entry-text">View diff</p>
                            </div>
                            <div class="table-entry-cell table-entry-cell--changelog cell-changedat">
                                <p class="table-entry-text">${utils.formatDate(log.createdAt)}</p>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('/scripts/modal.js') }}"></script>
    <script src="{{ asset('/scripts/bodyTemplateOverview.js') }}" type="module"></script>
    <script src="{{ asset('/scripts/bundle.js') }}"></script>
{% endblock %}
