{% extends 'base.html.twig' %}

{% block title %}Groups{% endblock %}

{% block body %}
    <div class="container">
        <div class="groups-container">
            <div class="groups template_overview-container">
                <h1 class="template_overview-title">Groups</h1>

                <div class="templates-search">
                    <input type="text" name="group-name" id="group-name" class="search-input" placeholder="Search groups..." />
                    <button class="btn btn--primary template-search-btn group-search-btn">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                </div>

                <div class="group-results-container templates-container">
                </div>

                <button class="add-btn add-group-btn">
                    <span class="material-symbols-outlined add-template-btn-icon">
                        add
                    </span>
                </button>
            </div>

            <div class="group-details template_overview-container">
                <h1 class="template_overview-title">Group details</h1>

                <div class="group-details-content">
                    <!--
                    <h1 class="group-details-name">Group name</h1>
                    <h2 class="group-details-address">address@gmail.com</h2>

                    <div class="group-members-container">
                        <div class="group-members-list">
                            <h3 class="group-members-title">Members</h3>

                            <div class="group-members">
                                <div class="member">
                                    <div class="member-pfp"></div>
                                    <h4 class="member-name">Member name</h4>
                                    <p class="member-address">address@gmail.com</p>

                                    <span class="material-symbols-outlined remove-from-group-btn">
                                        remove
                                    </span>
                                </div>
                                <div class="member">
                                    <div class="member-pfp"></div>
                                    <h4 class="member-name">Member name</h4>
                                    <p class="member-address">address@gmail.com</p>

                                    <span class="material-symbols-outlined remove-from-group-btn">
                                        remove
                                    </span>
                                </div>
                                <div class="member">
                                    <div class="member-pfp"></div>
                                    <h4 class="member-name">Member name</h4>
                                    <p class="member-address">address@gmail.com</p>

                                    <span class="material-symbols-outlined remove-from-group-btn">
                                        remove
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="add-members-container">
                            <h3 class="group-members-title">Add members</h3>

                            <div class="add-members-search-container">
                                <div class="add-members-search-bar">
                                    <input type="text" name="user-name" id="user-name" class="search-input" placeholder="Search users..." />
                                    <button class="btn btn--primary template-search-btn group-search-btn">
                                    <span class="material-symbols-outlined">
                                        search
                                    </span>
                                    </button>
                                </div>
                                <div class="add-members-search-results">

                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>

    {% embed '/admin/_modal.html.twig' %}
        {% block input %}
            <div class="modal-input-container">
                <label for="modal-group-name" class="modal-text">Group name:</label>
                <input type="text" class="modal-input" id="modal-group-name" />
                <span class="error-message error-message--modal" id="errmsg-group-name">You must specify a group name!</span>

                <label for="group-address" class="modal-text">Group address:</label>
                <input type="text" class="modal-input" id="group-address" />
                <span class="error-message error-message--modal" id="errmsg-group-address">You must specify a group address!</span>

                <label for="group-search-members" class="modal-text">Add members:</label>
                <input type="text" class="modal-input" id="group-search-members" />
                <div class="modal-search-container">
                    <div class="add-members-search-results--modal">
                    </div>
                </div>

                <p class="modal-text">Members</p>
                <div class="modal-group-members">

                </div>

                <span class="error-message error-message--modal" id="errmsg-create-error"></span>
                <div class="success-msg create-template-success-msg">
                    <span>Group created!</span>
                    <span class="material-symbols-outlined">
                        check_circle
                    </span>
                </div>
                <button class="btn btn--primary modal-save-btn">Create group</button>
            </div>
        {% endblock %}
    {% endembed %}

    <script src="{{ asset('/scripts/groups.js') }}"></script>
    <script src="{{ asset('/scripts/modal.js') }}"></script>
{% endblock %}
