{% extends 'base.html.twig' %}

{% block title %}Send Email{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/gh/vkiryukhin/vkBeautify/vkbeautify.min.js"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="send-container">
            <div class="template-column-container">
                {% embed 'admin/_email_templates.html.twig'%}{% endembed %}

                {% embed 'admin/_body_templates.html.twig' with {
                    display_add_btn: false
                }%}{% endembed %}
            </div>

            <div class="send-data-container">
                <div class="send-data">
                    <h1 class="send-title">Send an email</h1>

                    {% embed 'admin/_email_data.html.twig' with {
                        containerClassName: 'send-inputs',
                        inputContainerClassName: 'send-input-container',
                        labelClassName: 'send-input-label',
                        inputClassName: 'send-input',
                        editorClassName: 'editor',
                        theme: 'secondary',
                        displayVariables: true
                    } %}
                        {% block buttons %}
                            <div class="send-btn-container">
                                <button class="btn btn--secondary send-btn">
                                    <span>Send</span>
                                    <span class="material-symbols-outlined">
                                        send
                                    </span>
                                </button>

                                <div class="success-msg">
                                    <span>Sent!</span>
                                    <span class="material-symbols-outlined">
                                        check_circle
                                    </span>
                                </div>

                                <button class="btn btn--secondary save-as-template-btn">
                                    <span>Save as template</span>
                                    <span class="material-symbols-outlined">
                                        save
                                    </span>
                                </button>
                            </div>

                            <button class="clear-btn">Clear</button>
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>

            <div class="email-preview-container">
                <h1 class="template_overview-title">Preview</h1>

                <div class="email-preview">
                    <h2 class="preview-subject"></h2>

                    <div class="preview-addresses-container">
                        <p class="preview-from"></p>
                        <p class="preview-to"></p>
                    </div>

                    <div class="preview-body"></div>
                </div>
            </div>
        </div>
    </div>

    {% embed '/admin/_modal.html.twig' with {
        id: 'modalInputOverlay'
    }%}
        {% block input %}
            <div class="modal-input-container">
                <input type="text" class="modal-input" />
                <span class="error-message error-message--modal" id="errmsg-template-name">You must specify a template name!</span>
                <span class="error-message error-message--modal" id="errmsg-create-error"></span>
                <div class="success-msg create-template-success-msg">
                    <span>Template created!</span>
                    <span class="material-symbols-outlined">
                        check_circle
                    </span>
                </div>
                <button class="btn btn--primary modal-save-btn">Save</button>
            </div>
        {% endblock %}
    {% endembed %}

    <script src="{{ asset('/scripts/bundle.js') }}"></script>
    <script src="{{ asset('/scripts/modal.js') }}"></script>
    <script src="{{ asset('/scripts/sendEmail.js') }}" type="module"></script>
{% endblock %}
